@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --orange: #eb6c27;
    --white: #fff;
    --grey: rgba(58, 58, 58, 1);
    --grey-hero: rgba(36, 36, 36, 0.4);
    --black-cta: rgba(36, 36, 36, 0.8);
    --black: #000000;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.section--size {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;/*1em*/
}

.section--margin {
    margin-top: 55px;/*4em*/
}

.text--decoration {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .section--size {
        max-width: none;
        margin: auto;
        padding: 0 205px;
    }

    .section--margin {
        margin-top: 150px;
    }
}

/* =================================================================
Navbar
/* ================================================================= */

/*
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}*/

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 15px;
}

/*
.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav__menu li {
    margin-top: 30px;
}

.nav__menu li a {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.nav__menu > ul {
    margin-top: 0;
}

ul .menu {
    margin-top: 25px;
    color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 1em;
    gap: 0.5em;
}*/

/*----------------------------------------------------------------* MOJE NEW*/

header {
    background-color: white;
}



.img-responsive {
    height: 100%;
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}



.nav__menu{
    margin-top: 32px;
    color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--orange);
    padding: 1em;
    gap: 0.5em;
    z-index: 1;
}

.nav__menu a {
    text-transform: uppercase;
    color: var(--white);
    border-bottom: 1px solid var(--white);
}


menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid var(--white);
    border-bottom-color: var(--orange);
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    text-transform: uppercase;
    color: var(--black);
}

.hamburger::after {
    content: url(../media/hamburger-svg.svg);
}


@media (max-width: 832px) {
    .hamburger {
        display: flex;
    }
    .hamburger-menu--hidden {
        display: none;
    }

    .nav {
        margin:1.5em 1.2em 2em 1.2em;
        height: 53px;
    }

    .active {
        font-weight: bolder;
        background-color: var(--grey);
    }

    .active, .nav-item:hover {
        background-color: var(--grey);
        font-weight: bolder;
    }

    /*
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }*/
}

@media (min-width: 834px) {
    .hamburger {
        display: none;
    }
    .hamburger-menu--hidden {
        display: none;
    }

    .nav__menu {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: auto;
        align-items: center;
        justify-content: center;
        top: auto;
        margin: unset;
        padding: 0;
        max-height: 100px;
    }


    .nav__menu a {
        border-bottom: none;
    }

    menu::after {
        content: none;
    }

    .nav {
        align-items: center;
        height: 100px;
    }

    .nav__menu > li.nav-item-li--margin {
        margin-right: 0;
    }

    .nav__menu > li > a  {
        padding: 40px 15px 40px 15px;/*padding: 30px 15px 30px 15px;*/
    }

    /*.active-li {
        font-weight: bolder;
        background-color: var(--orange);
    }*/

    .active {
        font-weight: bolder;
        background-color: var(--orange);
    }

    /*.active-li, .nav-item-li:hover {
        background-color: var(--orange);
        font-weight: bolder;
    }*/

    .active, .nav-item:hover {
        background-color: var(--orange);
        font-weight: bolder;
    }

    .nav-item-li:hover > .nav-item {
        font-weight: bolder;
        color: var(--white) !important;
    }

    .active-li > .active {
        font-weight: bolder;
        color: var(--white) !important;
    }

    /*
    .nav-item-li > .nav-item {
        font-weight: bolder;
        color: var(--white) !important;
    }*/

    .nav__menu a{
        color: var(--grey);
    }

    .nav__menu {
        background-color: white;
    }
}

/* =================================================================
Hero
/* ================================================================= */

.hero {
    padding: 0 !important;
}

.hero {
    /*height: 100vh;
    background-image: url(../media/pageheader-1920w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    position: relative;
    background-image: url(../media/pageheader-3100w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    background-size: 180%;
}

.hero-description__text {
    position: relative;
}


.hero-description::before {
    content: "";
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero-description__text {
    color: white;
}

.hero-description__text h1 {
    font-weight: 800;
}

/*NEW-START*/
.hero-description__text > h1 .h1--small {
    display: block;
    padding-top: 10px;
    font-weight: 300;
    font-size: 1.25rem;
}
/*NEW-END*/

.hero-description__text h3 {
    font-weight: lighter;
    font-size: 1.25rem;
}

.hero-description > a {
    display: none;
}

.img__hero {

}

@media (min-width: 1200px) {
    .hero {
        height: 95vh;
        background-image: url(../media/pageheader-1920w.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .hero::before {
         content: "";
         background: var(--grey-hero);
         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
    }

    header {
        margin: 43px 205px 0 205px;
        background-color: var(--white);
        position: relative;
    }

    .hero-description {
        position: relative;
        background-image: none;
        color: var(--white);
        padding-bottom: 84px;
    }

    .hero-description > a {
        display: flex;
        position: relative;
    }

    .hero-description::before {
        content: "";
        background: none;
    }

    .hero-description__text > h1 {
        font-weight: 800;
        font-size: 7.5rem;
        line-height: 16px;
    }
    /*NEW-START*/
    .hero-description__text > h1 .h1--small {
        display: block;
        padding-top: 140px;
        font-weight: 300;
        font-size: 3.75rem;
        line-height: 16px;
    }
    /*NEW-END*/

    .hero-description__text > p {
        font-weight: 300;
        font-size: 3.75rem;
        line-height: 66px;
    }

    .hero-description__text {
        padding-bottom: 65px;
    }

    .hero-btn {
        padding: 16px 50px;
        margin: 20px 0;
        background-color: var(--orange);
        color: var(--white);
    }

    .hero-btn a {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .hero--flex, span.hero-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .hero-description > span {
        display: block;
    }

    .hero__div-without {
        display: none;
    }
}

/* =================================================================
Service
/* ================================================================= */

.service-description {
    margin-bottom: 80px;
}

/*.service-description h2 {
    font-size: 22px;
    font-weight: bold;
}*/

.service-description > .p--big  {
    font-size: 1.5rem;
    font-weight: bold;
}

.orange {
    color: var(--orange);
}

.img-service {
    height: 134px;
    width: 100%;
    object-fit: cover;
}

.img--right-corner {
    border-radius: 0px 0px 40px 0px;
}

.img--left-corner {
    border-radius: 0px 0px 0px 20px;
}

.service__content > div {
    margin-bottom: 40px;
}

.service__text {
    padding-bottom: 18px;
}

span.service-btn {
    padding: 12px 40px;
    border: 2px dashed var(--orange);
    gap: 10px;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;
    color: var(--orange);
}

.service__text--padding {
    padding-bottom: 18px;
}

/*
.service__text > a {
    text-decoration: none;
}*/

@media (min-width: 1200px) {
    #service {
        color: var(--grey);
    }

    .service-description {
        text-align: center;
    }

    /*.service-description > h2 {
        font-weight: 700;
        font-size: 60px;
    }*/

    .service-description > .p--big  {
        font-weight: 700;
        font-size: 3.75rem;
    }

    .service-description > p {
        font-weight: 300;
        font-size: 1.25rem;
    }

    .service__novostavby, .service__prumyslove-stavby, .service__rekonstrukce, .service__komunikace {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 100px;
    }

    .prumyslove-stavby--reverse, .komunikace--reverse {
        flex-direction: row-reverse;
    }

    .img-service {
        height: 307px;
        width: 729px;
    }

    .service__text {
        max-width: 682px;
    }

    .service__text > .service__text--padding > h3 {
        text-transform: uppercase;
    }
}

/* =================================================================
Cta
/* ================================================================= */

#cta {
    /*height: 20vh;*/
}

.cta {
    background-image: url(../media/background-CTAblock-4460w.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cta::before {
    content: "";
    position: absolute;
    background: var(--black-cta);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cta .cta__content  {
    padding-top: 10px;
    color: var(--white);
    position: relative;
}

.cta__content {
    padding: 30px 0;
    text-align: left;
}

.cta__content--font {
    font-weight: 700;
    font-size: 1.063rem;
}

.cta__text {
    padding-bottom: 20px;
}

.cta-btn {
    padding: 12px 40px;
    margin: 20px 0;
    background-color: var(--orange);
    color: var(--white);
}


@media (min-width: 1200px) {
    #cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 35vh;
    }

    .cta__content--font {
        font-weight: 800;
        font-size: 1.563rem;
    }

    .cta__content--font > a {
        font-weight: 600;
        font-size: 1.25rem;
    }
}

/* =================================================================
Gallery
/* ================================================================= */

.reference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey)
}

.item--align {
    text-align: center;
}

.reference__text {
    color: var(--grey)
}

.reference__text > h2 {
    font-weight: 700;
    font-size: 1.375rem;
}

.reference__text > p {
    font-weight: 600;
    font-size: 0.938rem;
}

.reference__galerie {
    padding-bottom: 45px;
}

.reference-btn {
    padding: 12px 40px;
    margin: 20px 0;
    background-color: var(--orange);
    color: var(--white);
}

@media (min-width: 1200px) {
    .reference__galerie {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        margin-top: 4em;
    }

    .reference__description {
        text-align: center;
    }

    .reference__description > h2 {
        font-weight: 700;
        font-size: 3.75rem;
    }
    .reference__description > p {
        font-weight: 300;
        font-size: 1rem;
    }

    .reference--container {
        position: relative;
    }

    .reference-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .reference-image__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.8s;
    }

    .reference-image__overlay:hover {
        opacity: 0.9;
        background: var(--orange);
        color: var(--white);
    }

    .reference-image__overlay:hover > .image__title {
        opacity: 1;
        font-size: 1.563rem;
        font-weight: bolder;
    }

    .reference-image__overlay:hover > .image__description {
        opacity: 1;
        font-size: 0.938rem;
    }

    .reference--container > .img-fluid {
        padding-top: 0;
    }

    /*
    .reference__text {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }*/
    /*
    .reference--container:hover {
        background-color: var(--orange);
    }

    .reference--container:hover .reference-image {
        opacity: 0.3;
    }

    .reference--container:hover .reference__text {
        opacity: 1;
    }

    .text {
        background-color: #04AA6D;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }

    .reference--container > .img-fluid {
        padding-top: 0;
    }*/
}

/* =================================================================
Footer
/* ================================================================= */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    text-align: center;
}

.footer__description {
    padding: 50px 0;
}

.footer__text {
    color: var(--white);
    padding-bottom: 26px;
}
/*
.footer__text > h2 {
    font-weight: 700;
    font-size: 22px;
}*/

/*NEW-START*/
.footer__text > .p--big {
    font-weight: 700;
    font-size: 1.5rem;
}
/*NEW-END*/

.footer__text > p {
    font-weight: 400;
    font-size: 1rem;
}

.footer-btn {
    padding: 12px 40px;
    margin: 20px 0;
    background-color: var(--white);
    color: var(--orange);
}

@media (min-width: 1200px) {
    /*.footer__text > h2 {
        font-weight: 700;
        font-size: 60px;
    }*/

    .footer__text > .p--big {
        font-weight: 700;
        font-size: 3.75rem;
    }

    .footer__text > p {
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.copyright {
    display: flex;
    align-items: center;
    background: var(--black);
    color: var(--white);
    height: 2em;
}

.copyright__text {
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}




































